header {
  margin: 1rem 2rem;
}

.nav_list {
  display: flex;
  justify-content: space-between;

  li {
    list-style: none;
    white-space: nowrap;
  }

  > li {
    position: relative;
    padding: 20px 0;

    > ul {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      background: #fff;
      padding: 10px 20px;
      max-width: 50vw;

      > li {
        font-weight: bold;

        > ul {
          margin: 0.125rem 0 0.25rem 1rem;
          font-weight: normal;
        }
      }
    }

    &.nav_center > ul {
      transform: translateX(-50%);
    }

    &.nav_right > ul {
      left: unset;
      right: 0;
    }

    &:hover {
      > ul {
        display: inline-block;

        border: 1px solid #e0e0e0;
      }

      > .nav_center {
        transform: translateX(-50%);
      }

      > .nav_right {
        right: 0;
      }
    }
  }
}
