// todo : move these
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 20px 30px;
  text-align: center;
}

p {
  margin-bottom: 1.5rem;
}

.page-content {
  margin: 1rem 2rem;

  ul,
  ol {
    margin-left: 1.5rem;
  }

  section {
    margin: 1.5rem 0;
  }
}

// People page
.user-profile {
  margin: 1.5rem 0;
}

#map {
  height: 70vh;
  width: calc(100vw - 4rem);
  margin: 0 auto;
}

// Embeddable
.embeddable {
  #map {
    width: 100vw;
    height: 100vh;
  }
}
